*, *::before, *::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    background: linear-gradient(to right, #ffecec, #76c6ff);
}

.calculator-grid {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    justify-content: center;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover,

.calculator-grid > button:focus {
    background-color: rgba(255, 255, 255, .9);
}

.span-2 {
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 2.5rem;
}